/* colors */

.root {

    -fx-primary: #f43b9e;
    -fx-secondary: #f472b6;
    -fx-background: #1c1b2e;
    -fx-surface: #27263d;
    -fx-text: #ede9fe;
    -fx-text-muted: #6b6a8a;
}

.border-pane {
    -fx-background-color: -fx-background;
}

.label {
    -fx-text-fill: -fx-text;
    -fx-font-size: 13;
}
